*{
    box-sizing: border-box;
    margin: 0;
}

.kopf {
    height: 100px;
    width: 100vw;
    background-color: rgb(238,17,17);
    text-align: center;
}

.feld {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: rgb(224, 224, 224);
    display: grid;
    grid-template-areas: 
    "b b f f"
    "c c f f"
    "d d d d"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    justify-items:  center;
    align-items: center;
    text-align: center;

}

.wort {
    grid-area: b;
    
}
#wort {
    width: 90%;
    height: 100px;
    margin: 20px;
    font-size: 2.5rem;
}

.zahl {
    grid-area: c;
}
#zahl {
    width: 90%;
    height: 100px;
    margin: 20px;
    font-size: 2.5rem;
}

.ausgabe {
    grid-area: d;
    width: 80%;
}
#ausgabe {    
    height: 100px;
    width: 95%;
    margin: 10px;
    font-size: 2.5rem;
    background-color: white;
}