*{
    box-sizing: border-box;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.kopf {
    display: flex;
    height: 100px;
    background-color: rgb(238,17,17);
    align-items: center;
    justify-content: center;
}

main {
    height: calc(100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links {
    width: 30%;
    background-image: url(../img/ryan-klaus-CKR2pwxbF_8-unsplash.jpg);
    background-size: auto;
    background-position: center;
}



.feld {
    height: 100%;
    width: 100%;
    padding-right: 10%;
    background-color: rgb(224, 224, 224);
    display: grid;
    grid-template-areas: 
    "b b b "
    "c c c "
    "d d d ";
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;

}
.feld h2 {
    margin-bottom: 15%;
    margin-top: 10%;
}
.wort {
    grid-area: b;
    
}
#wort {
    width: 90%;
    height: 80px;
    margin: 20px;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 15px;
}
#wort:hover{
    background-color: rgba(238, 17, 17, 0.1);
}

.zahl {
    grid-area: c;
}
#zahl {
    width: 20%;
    height: 80px;
    margin: 20px;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 15px;

}
#zahl:hover{
    background-color: rgba(238, 17, 17, 0.1);
}

.ausgabe {
    grid-area: d;
    width: 60%;
    align-self: baseline;
    
    
}
#ausgabe {
    height: 100px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    height: 50px;
    background-color: rgb(238,17,17);
}